# Environments
venv/
.env

# Terraform
*.tfvars

# Byte-compiled / Optimized / DLL files
__pycache__/

# Lambda
lambda_function.zip
lambda_package/

# Pytest and Coverage
.pytest_cache/
htmlcov/
.coverage
.vscode/